@model IEnumerable<QP_Management_System.Models.QPMasterPool>

@{
    ViewBag.Title = "QPAnchorDownload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Back", "QPAnchor")
</div>


@{
    if (Model.Any())
    {
        <h3>List of finalised documents</h3>
        <br />

        <table class="table">
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.QPDocId)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DocumentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reviewer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QualityAnchor)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModuleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationLog)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdationLog)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayName("Action")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.QPDocId)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reviewer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QualityAnchor)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdationLog)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.ActionLink("Download", "QPAnchorDownloadPost", new { QPDocId = item.QPDocId })
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <br />
        <h3>No finalised documents</h3>
    }
}


