@model IEnumerable<QP_Management_System.Models.QPMasterPool>
@{
    ViewBag.Title = "QPAnchor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int aCount = 0, rCount = 0, fCount = 0;
    int tc = 0;
    foreach (var item in Model)
    {
        if (item.Status == "A")
        {
            aCount += 1;
        }
        else if (item.Status == "R" || item.Status == "Q")
        {
            rCount += 1;
        }
        else if (item.Status == "F")
        {
            fCount += 1;
        }
    }
    if(fCount<10)
    {
        tc = 1;
    }
    ViewBag.tc = tc;
}


@*<h4>Welcome @Session["UserName"]</h4>*@
<h3>Dashboard</h3>

<ul class="nav nav-tabs">
    <li class="active"><a href="#ad" data-toggle="tab" aria-expanded="true">Assigned Documents <span class="badge">@aCount</span> </a></li>
    <li class=""><a href="#rd" data-toggle="tab" aria-expanded="false">Reviewing Documents <span class="badge">@rCount</span>  </a></li>
    <li class=""><a href="#acd" data-toggle="tab" aria-expanded="false">Accepted Documents <span class="badge">@fCount</span> </a></li>
    <li class=""><a href="#od" data-toggle="tab" aria-expanded="false">Other Versions of Documents</a></li>
    @*<li class="disabled"><a>Disabled</a></li>*@
    @*<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Others <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class=""><a href="#dropdown1" data-toggle="tab" aria-expanded="false">Remove Document</a></li>
            <li class="divider"></li>
            <li class=""><a href="#dropdown2" data-toggle="tab" aria-expanded="false">Advanced</a></li>
        </ul>
    </li>*@
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="ad">
        <br />
        @{
            if (aCount != 0)
            {
                <table class="table">
                    <tr class="active">
                        <th>
                            @Html.DisplayName("DocumentName")
                        </th>
                        <th>
                            @Html.DisplayName("Author")
                        </th>
                        <th>
                            @Html.DisplayName("Reviewer")
                        </th>
                        <th>
                            @Html.DisplayName("QualityAnchor")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                    </tr>
                    @{
                        foreach (var item1 in Model)
                        {
                            if (item1.Status == "A")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.DocumentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.Author)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.Reviewer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.QualityAnchor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.Status )
                                    </td>
                                </tr>
                            }
                            else
                            {
                                continue;
                            }
                        }
                    }
                </table>
            }
            else
            {
                <p>No documents assigned</p>
            }
        }
    </div>
    <div class="tab-pane fade" id="rd">
        <br />
        @{
            if (rCount != 0)
            {
                <table class="table">
                    <tr class="active">
                        <th>
                            @Html.DisplayName("DocumentName")
                        </th>
                        <th>
                            @Html.DisplayName("Author")
                        </th>
                        <th>
                            @Html.DisplayName("Reviewer")
                        </th>
                        <th>
                            @Html.DisplayName("QualityAnchor")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                    </tr>
                    @{
                        foreach (var item1 in Model)
                        {
                            if (item1.Status == "R" || item1.Status == "Q")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.DocumentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.Author)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.Reviewer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.QualityAnchor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.Status )
                                    </td>
                                </tr>
                            }
                            else
                            {
                                continue;
                            }
                        }
                    }
                </table>
                        }
                        else
                        {
                            <p>No documents for reviewing</p>
                        }
        }
    </div>
    <div class="tab-pane fade" id="acd">
        <br />
        @{
            if (fCount != 0)
            {
                <table class="table">
                    <tr class="active">
                        <th>
                            @Html.DisplayName("DocumentName")
                        </th>
                        <th>
                            @Html.DisplayName("Author")
                        </th>
                        <th>
                            @Html.DisplayName("Reviewer")
                        </th>
                        <th>
                            @Html.DisplayName("QualityAnchor")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                    </tr>
                    @{
                        foreach (var item1 in Model)
                        {
                            if (item1.Status == "F")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.DocumentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.Author)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.Reviewer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.QualityAnchor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item1.Status )
                                    </td>
                                </tr>
                            }
                            else
                            {
                                continue;
                            }
                        }
                    }
                </table>
            }
            else
            {
                <p>No finalised Documents</p>
            }

        }

    </div>
    <div class="tab-pane fade" id="od">
        <br />

        <table class="table">
            <tr class="active">
                <th>
                    @Html.DisplayName("DocumentName")
                </th>
                <th>
                    @Html.DisplayName("Author")
                </th>
                <th>
                    @Html.DisplayName("Reviewer")
                </th>
                <th>
                    @Html.DisplayName("QualityAnchor")
                </th>
                <th>
                    @Html.DisplayName("Status")
                </th>
                <th>
                    @Html.DisplayName("Actions")
                </th>
            </tr>

            @foreach (var item1 in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item1.DocumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item1.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item1.Reviewer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item1.QualityAnchor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item1.Status)
                </td>
                <td>
                    @Html.ActionLink("Get Versions","GetVersions", new { QPDocId = item1.QPDocId })
                </td>
            </tr>
            }


        </table>



</div>

</div>