@model IEnumerable<QP_Management_System.Models.QPMasterPool>

@{
    ViewBag.Title = "QualityAnchor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Documents</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualityAnchor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviewer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualityAnchor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
    </tr>
}

</table>
