@model IEnumerable<QP_Management_System.Models.QPMasterPool>

@{
    ViewBag.Title = "Reviewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Question Papers</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualityAnchor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviewer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualityAnchor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Download", "DownloadDoc", new { QPDocId = item.QPDocId })
        </td>
        <td>
            @Html.ActionLink("Accept", "ReviewerAccept", new { QPDocId = item.QPDocId })
        </td>
    </tr>
}

</table>
