<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-yeti.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("QP Management System","","", new { area=" " }, new { @class="navbar-brand" } )*@
                <div class="navbar-brand">
                    QP Management System
                </div>
            </div>
            <div class="collapse navbar-collapse">
                    @{
                        if (Session["Role"] == null)
                        {
                            if (ViewBag.Title != "Login")
                            {
                                <ul class="nav navbar-nav">
                                    <li>
                                        @Html.ActionLink("Login", "Login", "User")
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="nav navbar-nav">
                                    <li>

                                    </li>
                                </ul>
                            }
                        }
                        else if (Session["Role"].ToString().ToLower() == "qp anchor")
                        {
                            <ul class="nav navbar-nav">
                                <li>
                                    @Html.ActionLink("Create", "CreateQP", "User")
                                </li>
                                <li>
                                    @Html.ActionLink("Download", "QPAnchorDownload", "User")
                                </li>
                                <li>
                                    @Html.ActionLink("Select", "QPAnchorSelect", "User")
                                </li>
                            </ul>

                            //------------------------------------------------

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                @Session["UserName"] @{ if (ViewBag.tc == 1)
                {
                                                        <span id="notinum" class="badge" style="background-color:white;color:black"> @ViewBag.tc </span>
                                                    }
                                                    else
                                                    {

                                                    }
                                                }
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>@Html.ActionLink("View Profile", "ViewProfile", "User")</li>
                                                <li><a href="#" onclick="document.getElementById('noti').style.display = 'block'; document.getElementById('notinum').style.display = 'none'; document.getElementById('notinumb').style.display = 'none';">Notifications  @{ if (ViewBag.tc == 1)
                {
                                                        <span id="notinumb" class="badge" style="background-color:white;color:black"> @ViewBag.tc </span>
                                                    }
                                                    else
                                                    {

                                                    }
                                                }</a></li>
                                                <li class="divider"></li>
                                                <li>@Html.ActionLink("Logout", "LogOut", "User")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            //------------------------------------------------

                            

                        }
                        else if (Session["Role"].ToString().ToLower() == "author")
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Session["UserName"] <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>@Html.ActionLink("View Profile", "ViewProfile", "User")</li>>
                                                <li class="divider"></li>
                                                <li>@Html.ActionLink("Logout", "LogOut", "User")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        else if (Session["Role"].ToString().ToLower() == "reviewer")
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Session["UserName"] <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>@Html.ActionLink("View Profile", "ViewProfile", "User")</li>
                                                <li class="divider"></li>
                                                <li>@Html.ActionLink("Logout", "LogOut", "User")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        else if (Session["Role"].ToString().ToLower() == "quality anchor")
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Session["UserName"] <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>@Html.ActionLink("View Profile", "ViewProfile", "User")</li>
                                                <li class="divider"></li>
                                                <li>@Html.ActionLink("Logout", "LogOut", "User")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    }
</div>
        </div>

    </div>

    <div class="container body-content">
        <div id="noti" class="alert alert-dismissible alert-danger" style="display:none;z-index:10 ">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Heads up!</strong> Number of question papers are below the threshold  @Html.ActionLink("Click here to create question paper", "CreateQP", "User", new { @class= "alert-link" })
        </div>
        @RenderBody()
        @RenderSection("scripts", required:false )
        <div class="navbar-fixed-bottom panel-footer">
            <footer style="text-align:center;">
                @{
                    if (ViewBag.Title != "ContactUs" && ViewBag.Title != "AboutUs")
                    {
                        <p> @Html.ActionLink("Contact", "ContactUs", "User") - QP Management System&copy; @DateTime.Now.Year - @Html.ActionLink("About", "AboutUs", "User")</p>
                    }
                    else
                    {
                        <p> QP Management System&copy; @DateTime.Now.Year - @Html.ActionLink("HomePage", "Login", "User")  </p>
                    }
                }

            </footer>
        </div>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>