
@{
    ViewBag.Title = "SelectQP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="text-align:center">
    <br /><br />
    <h4>Do you want to select this Question paper for next hands-on?</h4>

    @Html.ActionLink("Yes","") or @Html.ActionLink("No","")
    <br />
    <br />
    @*<h4>Unable to select the question paper. Please try again after sometime</h4>*@
    @{
        if (Session["Role"].ToString().ToLower() == "author")
        {
            @Html.ActionLink("Click here to go back", "Author", "User")
        }
        else if (Session["Role"].ToString().ToLower() == "reviewer")
        {
            @Html.ActionLink("Click here to go back", "Reviewer", "User")
        }
        else if (Session["Role"].ToString().ToLower() == "quality anchor")
        {
            @Html.ActionLink("Click here to go back", "QualityAnchor", "User")
        }
        else if (Session["Role"].ToString().ToLower() == "qp anchor")
        {
            @Html.ActionLink("Click here to go back", "QPAnchor", "User")
        }
    }
</div>

